<a href="https://colab.research.google.com/github/jhansi246/hello/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print("-------------------------------------")
print(student_data2)
print("\nJoin the said two dataframes along rows:")
result_data = pd.concat([student_data1, student_data2])
print(result_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
-------------------------------------
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

Join the said two dataframes along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

6.experiment

In [ ]:
import pandas as pd
student_data1  = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])


dicts = [{'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 203},
         {'student_id': 'S7', 'name': 'Bryce Jensen', 'marks': 207}]

print("Original DataFrames:")
print(student_data1)
print("\nDictionary:")
print(s6)
combined_data =  student_data1.append(dicts, ignore_index=True, sort=False)
print("\nCombined Data:")
print(combined_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199

Dictionary:
student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object

Combined Data:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    203
6         S7      Bryce Jensen    207

In [5]:
import pandas as pd
s=pd.Series([10,20,30])
print(s)

0    10
1    20
2    30
dtype: int64

In [9]:
import pandas as pd
s2=pd.Series(["janu","abhi","vinee","sanju"],index=[585,'5a3',"5c1","5b7"])
print(s2)

585     janu
5a3     abhi
5c1    vinee
5b7    sanju
dtype: object

In [7]:
import pandas as pd
series2=pd.Series([2,3,4],index=["feb","mar","apr"])
print(series2)

feb    2
mar    3
apr    4
dtype: int64

In [12]:
import numpy as np
import pandas as pd
array1=np.arange(10,20)
series3=pd.Series(array1)
print(series3)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [14]:
import numpy as np
import pandas as pd
array1=np.array([10,20,30])
series3=pd.Series(array1,index=["abhi","janu","chand"])
print(series3)

abhi     10
janu     20
chand    30
dtype: int64

In [16]:
import pandas as pd
dict1={"india":"newdelhi","uk":"london"}
print(dict1)
s=pd.Series(dict1)
print(s)

{'india': 'newdelhi', 'uk': 'london'}
india    newdelhi
uk         london
dtype: object

In [20]:
import pandas as pd
seriesnum=pd.Series([2,3,6],index=["feb","mar","jun"])
print(seriesnum["mar"])

3

In [22]:
import pandas as pd
m=pd.Series([1,2,3])
m[[0,2]]

0    1
2    3
dtype: int64

In [29]:
import pandas as pd
c=pd.Series(['new','wash','don','par'],index=['ind','usa','uk','fran'])
c[::-1]
c[0:3]

ind     new
usa    wash
uk      don
dtype: object

In [34]:
import pandas as pd
c.name='capitals'
c.index.name='capitals'
print(c)
print(c.values)

capitals
ind      new
usa     wash
uk       don
fran     par
Name: capitals, dtype: object
['new' 'wash' 'don' 'par']

In [45]:
import pandas as pd
sA=pd.Series([1,2,3,4,5])
index=['a','b','c','d','e']
sB=pd.Series([1000,2000,-1000,-4000,4500])
index=['a','b','c','d','e']
sC=pd.Series([10,20,30,-40,50])
index=['r','y','a','b','e']
df=pd.DataFrame(sA,sB,sC)
df

ValueError: ignored